.stat-box {
    /* border-style: dotted;
    border-color: black; */
    /* padding: 10px;
    margin-top: 10px; */

    
}

.stat-box-bottom-title {
    border-style: none;
    /* margin-top: 10px;
    margin-left: 2px;
    margin-right: 2px; */
}

.logo-box {
    background-image: url("dnd_logo_character_name.svg");
    background-size: 100%;
    max-width: 100%;
    padding-top: 29.8%;
    height: 0;
    text-indent: -9999px;
    overflow: hidden;
    background-repeat: no-repeat
}

#features-and-traits {

    font-size: 1vw;

}