<div class="container" id="header">

    <div class="row">
        <div class="col-5">
            <div class="row">
                <h2>Dungeons and Dragons 5e</h2>
            </div>

            <div class="row">
                <h2> {{ player["name"] }}</h2>
            </div>

            <div class="row">
                NOME PERSONAGGIO
            </div>
        </div>

        <div class="col-7">
            <div class="row">
                <div class="col-4">
                    <div class="row">
                        {{ character["class"] }}, {{ character["level"] }}
                    </div>
                    <div class="row">
                        CLASSE E LIVELLO
                    </div>
                    <div class="row">
                        {{ character["race"] }}
                    </div>
                    <div class="row">
                        RAZZA
                    </div>
                </div>
                <div class="col-4">
                    <div class="row">
                        {{ character["background"] }}
                    </div>
                    <div class="row">
                        BACKGROUND
                    </div>
                    <div class="row">
                        {{ character["alignement"] }}
                    </div>
                    <div class="row">
                        ALLINEAMENTO
                    </div>
                </div>
                <div class="col-4">
                    <div class="row">
                        {{ player["name"] }}
                    </div>
                    <div class="row">
                        NOME GIOCATORE
                    </div>
                    <div class="row">
                        {{ character["experience_points"] }}
                    </div>
                    <div class="row">
                        PUNTI ESPERIENZA
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>


