<div class="container stat-box" id="header">

    <div class="row ">
        <div class="col-sm-2">
            <br>
            <br>
            <div class="row logo-box">

            </div>
        </div>
        <div class="col-sm-4 px-2">
            <div class="row">
                <br>
            </div>
            <br>
            <div class="row">
                <p class="lead">{{ character["name"] }}</p>
                <hr>
            </div>
            <div class="row">
                <p>Character Name</p>
            </div>
        </div>

        <div class="col-sm-5">
            <div class="row">
                <div class="col-sm-4">
                    <div class="row">
                        <p class="lead"> {{ character["class"] }}, {{ character["level"] }}</p>
                        <hr>
                    </div>
                    <div class="row">
                        <p>Class and level</p>
                    </div>
                    <div class="row">
                        <p class="lead">{{ character["race"] }}</p>
                        <hr>
                    </div>
                    <div class="row">
                        <p>Race</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="row">
                        <p class="lead">{{ character["background"] }}</p>
                        <hr>
                    </div>
                    <div class="row">
                        <p>Background</p>
                    </div>
                    <div class="row">
                        <p class="lead">{{ character["alignement"] }}</p>
                        <hr>

                    </div>
                    <div class="row">
                        <p>Alignement</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="row">
                        <p class="lead">{{ player["name"] }}</p>
                        <hr>

                    </div>
                    <div class="row">
                        <p>Player name</p>
                    </div>
                    <div class="row">
                        <p class="lead">{{ character["experience_points"] }}</p>
                        <hr>

                    </div>
                    <div class="row">
                        <p>Experience points</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>