<div class="container">
    <div class="row">
        <div class="col-4">
            stats & skills
            <div class="row" id="stats_and_skills">
                <div class="col-6" id="stats">
                    <div id="strength">
                        <div class="label">
                            Strength
                        </div>
                        <div>
                            {{ stats.strength }}
                        </div>
                    </div>
                    <div id="dexterity">
                        <div class="label">
                            Dexterity
                        </div>
                        <div>
                            {{ stats.dexterity }}
                        </div>
                    </div>
                    <div id="constitution">
                        <div class="label">
                            Constitution
                        </div>
                        <div>
                            {{ stats.constitution }}
                        </div>
                    </div>
                    <div id="intelligence">
                        <div class="label">
                            Intelligence
                        </div>
                        <div>
                            {{ stats.intelligence }}
                        </div>
                    </div>
                    <div id="wisdom">
                        <div class="label">
                            Wisdom
                        </div>
                        <div>
                            {{ stats.wisdom }}
                        </div>
                    </div>
                    <div id="charisma">
                        <div class="label">
                            Charisma
                        </div>
                        <div>
                            {{ stats.charisma }}
                        </div>
                    </div>
                </div>
                <div class="col-6" id="skills">
                    <div class="row" id="inspiration">
                        <div class="col-6">
                            {{ skills.inspiration }}
                        </div>
                        <div class="col-6">
                            Inspiration
                        </div>
                    </div>
                    <div class="row" id="proficiency_bonus">
                        <div class="col-6">
                            {{ skills.proficiency_bonus }}
                        </div>
                        <div class="col-6">
                            Proficiency Bonus
                        </div>
                    </div>

                    <div class="row" id="saving_throws">
                        <div class="row">
                            <div class="col-3">check</div>
                            <div class="col-4">{{ skills.saving_throws.strength}}</div>
                            <div class="col col-5">Strength</div>
                        </div>
                        <div class="row">
                            <div class="col-3">check</div>
                            <div class="col-4">{{ skills.saving_throws.dexterity}}</div>
                            <div class="col col-5">Dexterity</div>
                        </div>
                        <div class="row">
                            <div class="col-3">check</div>
                            <div class="col-4">{{ skills.saving_throws.constitution}}</div>
                            <div class="col col-5">Constitution</div>
                        </div>
                        <div class="row">
                            <div class="col-3">check</div>
                            <div class="col-4">{{ skills.saving_throws.intelligence}}</div>
                            <div class="col col-5">Intelligence</div>
                        </div>
                        <div class="row">
                            <div class="col-3">check</div>
                            <div class="col-4">{{ skills.saving_throws.wisdom}}</div>
                            <div class="col col-5">Wisdom</div>
                        </div>
                        <div class="row">
                            <div class="col-3">check</div>
                            <div class="col-4">{{ skills.saving_throws.charisma}}</div>
                            <div class="col col-5">Charisma</div>
                        </div>
                        <div class="row">
                            <p class="text-center">SAVING THROWS</p>
                        </div>
                    </div>

                    <div class="row" id="skills">
                        <div class="row">
                            <div class="col-3">check</div>
                            <div class="col-4">value</div>
                            <div class="col col-5">Acrobatics</div>
                        </div>
                        <div class="row">
                            <div class="col-3">check</div>
                            <div class="col-4">value</div>
                            <div class="col col-5">Animal Handling</div>
                        </div>
                        <div class="row">
                            <div class="col-3">check</div>
                            <div class="col-4">value</div>
                            <div class="col col-5">Arcana</div>
                        </div>
                        <div class="row">
                            <div class="col-3">check</div>
                            <div class="col-4">value</div>
                            <div class="col col-5">Athletics</div>
                        </div>
                        <div class="row">
                            <div class="col-3">check</div>
                            <div class="col-4">value</div>
                            <div class="col col-5">Deception</div>
                        </div>
                        <div class="row">
                            <div class="col-3">check</div>
                            <div class="col-4">value</div>
                            <div class="col col-5">History</div>
                        </div>
                        <div class="row">
                            <div class="col-3">check</div>
                            <div class="col-4">value</div>
                            <div class="col col-5">Insight</div>
                        </div>
                        <div class="row">
                            <div class="col-3">check</div>
                            <div class="col-4">value</div>
                            <div class="col col-5">Intimidation</div>
                        </div>
                        <div class="row">
                            <div class="col-3">check</div>
                            <div class="col-4">value</div>
                            <div class="col col-5">Investigation</div>
                        </div>
                        <div class="row">
                            <div class="col-3">check</div>
                            <div class="col-4">value</div>
                            <div class="col col-5">Medicine</div>
                        </div>
                        <div class="row">
                            <div class="col-3">check</div>
                            <div class="col-4">value</div>
                            <div class="col col-5">Nature</div>
                        </div>
                        <div class="row">
                            <div class="col-3">check</div>
                            <div class="col-4">value</div>
                            <div class="col col-5">Perception</div>
                        </div>
                        <div class="row">
                            <div class="col-3">check</div>
                            <div class="col-4">value</div>
                            <div class="col col-5">Performance</div>
                        </div>
                        <div class="row">
                            <div class="col-3">check</div>
                            <div class="col-4">value</div>
                            <div class="col col-5">Persuasion</div>
                        </div>
                        <div class="row">
                            <div class="col-3">check</div>
                            <div class="col-4">value</div>
                            <div class="col col-5">Religion</div>
                        </div>
                        <div class="row">
                            <div class="col-3">check</div>
                            <div class="col-4">value</div>
                            <div class="col col-5">Sleight of Hand</div>
                        </div>
                        <div class="row">
                            <div class="col-3">check</div>
                            <div class="col-4">value</div>
                            <div class="col col-5">Stealth</div>
                        </div>
                        <div class="row">
                            <div class="col-3">check</div>
                            <div class="col-4">value</div>
                            <div class="col col-5">Survival</div>
                        </div>
                        <div class="row">
                            <p class="text-center">SKILLS</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            asd
        </div>
        <div class="col-4">
            asd
        </div>
    </div>
</div>